.movieDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
  width: 1200px;
}
.infoCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.infoWrapper {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 1rem;
}
.infoWrapper a {
  border: 1px solid white;
  width: 80px;
  padding: 0.25rem;
  text-align: center;
}
.backBtn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: absolute;
  right: 20rem;
  top: 1.35rem;
}
.containerr {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
